*{ 
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

.title { 
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px 0;
}

input[type = "text"] {
    height: 50px;
    width: 300px;
    background: #e7e7e7;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 30px;
}

input[type = "submit"] {
    height: 50px;
    width: 100px;
    background: lightgray;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}